<!-- <div class="container-offset">
  <footer class="footer">
    <div class="footer-flex footer-body">
      <ul class="social-icons">
          <li><a href="" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
          <li><a href="" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
          <li><a href="" class="social-icon"> <i class="fa fa-rss"></i></a></li>
          <li><a href="" class="social-icon"> <i class="fa fa-youtube"></i></a></li>
          <li><a href="" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
          <li><a href="" class="social-icon"> <i class="fa fa-google-plus"></i></a></li>
      </ul>
    </div>

      <div class="footer-flex footer-title">
         Sobre nós
        <ul>
          <li>SAC</li>
          <li>Contacte-nos</li>
          <li>Políticas de uso</li>
        </ul>
      </div>

      <div class="footer-flex footer-title">
         Top mês
        <ul>
          <li>Instrumentos</li>
          <li>Estúdios</li>
          <li>Cantores</li>
          <li>DJ's</li>
          <li>Instrumentistas</li>
        </ul>
      </div>

      <div class="footer-flex footer-title">
         Mais
        <ul>
          <li>Siga-nos</li>
          <li>5553999485494</li>
          <li>contato@keezy.com</li>
        </ul>
      </div>

  </footer>
</div> -->
<!--
<div class="container-offset">
  <footer>


  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <div>
      <ul class="social-icons">
          <li><a href="" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
          <li><a href="" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
          <li><a href="" class="social-icon"> <i class="fa fa-rss"></i></a></li>
          <li><a href="" class="social-icon"> <i class="fa fa-youtube"></i></a></li>
          <li><a href="" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
          <li><a href="" class="social-icon"> <i class="fa fa-google-plus"></i></a></li>
      </ul>
    </div>
      <div class="text-center">
        <h3>Sobre nós</h3>
        <p>SAC</p>
        <p>Contacte-nos</p>
        <p>Políticas de uso</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <div class="text-center">
        <h3>Top mês</h3>
        <p>Instrumentos</p>
        <p>Estúdios</p>
        <p>Cantores</p>
        <p>DJ's</p>
        <p>Instrumentistas</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <div class="text-center">
        <h3>Mais</h3>
          <p>Siga-nos</p>
          <p>+5553999485494</p>
          <p>contato@keezy.com</p>
      </div>
      <%#= link_to root_path, class: "footer-brand" do %>
      <%#= image_tag "logo.png" %>
    <%#end%>
    </div>
    </div>
  </footer>
</div>


 -->
<footer class="footer">
  <div>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <ul class="social-icons">
            <li><a href="" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
            <li><a href="" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
            <li><a href="" class="social-icon"> <i class="fa fa-rss"></i></a></li>
            <li><a href="" class="social-icon"> <i class="fa fa-youtube"></i></a></li>
            <li><a href="" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
            <li><a href="" class="social-icon"> <i class="fa fa-google-plus"></i></a></li>
          </ul>
        </div>

        <div class="col-sm-3"> <!--col-sm-push-1 -->
          <h3 class="section-title">Sobre nós</h3>
          <ul>
            <li><a href="#">SAC</a></li>
            <li><a href="#">Contacte-nos</a></li>
            <li><a href="#">Políticas de uso</a></li>
          </ul>
        </div>

        <div class="col-sm-3">
          <h3 class="section-title">Top mês</h3>
          <ul>
            <li><a href="#">Instrumentos</a></li>
            <li><a href="#">Estúdios</a></li>
            <li><a href="#">Cantores</a></li>
            <li><a href="#">DJ's</a></li>
            <li><a href="#">Instrumentistas</a></li>
          </ul>
        </div>
        <div class="col-sm-3">
          <h3 class="section-title">Mais</h3>
          <ul>
            <li><a href="#">Siga-nos</a></li>
            <li><a href="#">5553999485494</a></li>
            <li><a href="#">contato@keezy.com</a></li>
          </ul>
        </div>
        <div class="col-sm-3">
         <%= link_to root_path, class: "footer-brand" do %>
           <%= image_tag "logo.png" %>
         <%end%>
        </div>
      </div>
    </div>
  </div>
</footer>
