<footer class="footer">
  <div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <ul class="social-icons">
            <li><a href="" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
            <li><a href="" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
            <li><a href="" class="social-icon"> <i class="fa fa-rss"></i></a></li>
            <li><a href="" class="social-icon"> <i class="fa fa-youtube"></i></a></li>
            <li><a href="" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
            <li><a href="" class="social-icon"> <i class="fa fa-google-plus"></i></a></li>
          </ul>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3"> <!--col-sm-push-1 -->
          <h3 class="section-title">Sobre nós</h3>
          <ul>
            <li><a href="#">SAC</a></li>
            <li><a href="#">Contacte-nos</a></li>
            <li><a href="#">Políticas de uso</a></li>
          </ul>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
          <h3 class="section-title">Top mês</h3>
          <ul>
            <li><a href="#">Instrumentos</a></li>
            <li><a href="#">Estúdios</a></li>
            <li><a href="#">Cantores</a></li>
            <li><a href="#">DJ's</a></li>
            <li><a href="#">Instrumentistas</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <h3 class="section-title">Mais</h3>
          <ul>
            <li><a href="#">Siga-nos</a></li>
            <li><a href="#">5553999485494</a></li>
            <li><a href="#">contato@keezy.com</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
         <%= link_to root_path, class: "footer-brand" do %>
           <%= image_tag "logo.png" %>
         <%end%>
        </div>
      </div>
    </div>
  </div>
</footer>
