
  <footer class="footer">
    <!-- Logo -->
    <div class="footer-flex footer-body">
      <ul class="social-icons">
          <li><a href="" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
          <li><a href="" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
          <li><a href="" class="social-icon"> <i class="fa fa-rss"></i></a></li>
          <li><a href="" class="social-icon"> <i class="fa fa-youtube"></i></a></li>
          <li><a href="" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
          <li><a href="" class="social-icon"> <i class="fa fa-google-plus"></i></a></li>
      </ul>
    </div>

    <div class="text-center">teste1</div>
    <div class="text-center">teste2</div>
    <div class="text-center">teste3</div>

    <div>
      <%= link_to root_path, class: "footer-brand" do %>
        <%= image_tag "logo.png" %>
      <%end%>
    </div>
  </footer>


