/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: red;
}
.alert-info {
  background: $green;
}
.alert-warning {
  background: $red;
}

.alert-danger {
  border-radius: 2px;
  margin-top: 10px;
  font: inherit;
  background-color: rgba(0,0,0, 0.4);
  border: 1px solid rgba(255,104,107,0.2);
}
