a {
  color: white !important;
  text-decoration: none !important;
}

.card {
  height: 250px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.2);

  background-size: cover !important;
  color: white;
  position: relative;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 10px;
  text-transform: uppercase;
}

.card-top-description {
  position: absolute;
  top: 2px;
  left: 10px;
}

.card-description {
  text-shadow: 1px 1px black;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.card-description:hover {
  text-shadow: 2px 2px 12px #ff686b, 1px 1px black;
  text-decoration: none;
}

.card-description h2 {
  font-size: 24px;
}

.card-description p {
  font-size: 13px;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}

.card-link:hover {
  opacity: 0.1;

}

.cardhover:hover {
  transform:scale(1.1);
}
.cardhover {
  transition: all 0.7s ease;
}

.cardhover {

  opacity: 1;
  transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.cardhover:hover {
  opacity: .7;
}

// Stars

// fieldset, label { margin: 0; padding: 0; }
// body{ margin: 20px; }
// h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating {
  border: none;
  float: left;
}

.rating > input { display: none; }
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
 float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }
